@tailwind base;
@tailwind components;
@tailwind utilities;

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #CCCCCC
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #444444 #cccccc;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: #cccccc;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3030309d;
    border-radius: 45px;
  }

  @layer base {
    @font-face {
      font-family: FFF Acid Grotesk;
      font-weight: 100;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-ExtraLight-TRIAL.otf) format("opentype");
      font-style: normal;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk Italic;
      font-weight: 100;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-ExtraLight-Italic-TRIAL.otf) format("opentype");
      font-style: italic;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk;
      font-weight: 200;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-UltraLight-TRIAL.otf) format("opentype");
      font-style: normal;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk Italic;
      font-weight: 200;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-UltraLight-Italic-TRIAL.otf) format("opentype");
      font-style: italic;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk;
      font-weight: 300;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-Light-TRIAL.otf) format("opentype");
      font-style: normal;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk Italic;
      font-weight: 300;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-Light-Italic-TRIAL.otf) format("opentype");
      font-style: italic;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk;
      font-weight: 400;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-Normal-TRIAL.otf) format("opentype");
      font-style: normal;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk Italic;
      font-weight: 400;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-Norma-Italic-TRIAL.otf) format("opentype");
      font-style: italic;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk;
      font-weight: 500;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-Regular-TRIAL.otf) format("opentype");
      font-style: normal;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk;
      font-weight: 600;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-Medium-TRIAL.otf) format("opentype");
      font-style: normal;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk;
      font-weight: 700;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-Bold-TRIAL.otf) format("opentype");
      font-style: normal;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk;
      font-weight: 800;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-ExtraBold-TRIAL.otf) format("opentype");
      font-style: normal;
      line-height: normal;
    }
  
    @font-face {
      font-family: FFF Acid Grotesk;
      font-weight: 900;
      src: url(../public/assets/fonts/FFF-AcidGrotesk-Black-TRIAL.otf) format("opentype");
      font-style: normal;
      line-height: normal;
    }
  }
  
